<% include partials/header %>
<form action = '/addcheckin' method = "POST">
<h1>Enter Customer Aadhar Number</h1>
<input type = "number" placeholder = "Aadhar" name = "aadhar" required> 
<button>checkin</button>
</form>
<% include partials/footer %>