<% include partials/header %>
<h1>Welcome To The Employee Page , Here is the site directory:</h1>
<p><form action = '/checkin' method = "GET">
<button>Check in a customer</button>
</form></p>
<p><form action = '/checkout' method = "GET">
<button>Check out a customer</button>
</form></p>
<p><form action = '/addexpense' method = "GET">
<button>Add an invoice for a customer</button>
</form></p>
<% include partials/footer %>