<% include partials/header %>
<h1>Enter login details</h1>
<form action = '/logincheck' method = "POST">
    <input type = "number" name = "u" placeholder = "userid:" ><br/><br>
    <input type = "password" name = "p" placeholder = "password:" ><br><br>
    <button>Login</button>
</form>
<% include partials/footer %>