<% include partials/header %>
<h1>Welcome To The Main Page , Here is the site directory:</h1>
<p><form action = '/rooms' method = "GET">
<button>view types of rooms</button>
</form></p>
<p><form action = '/book' method = "GET">
<button>Book a room</button>
</form></p>
<p><form action = '/login' method = "GET">
<button>Login as an employee</button>
</form></p>
<p>Made By:</p><p>Deepesh Chugh 2017UCO1692</p><p>Saahil Mugloo 2017UCO1693</p><p>Nipun Harjai 2017UCO1694</p>












<% include partials/footer %>